*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.Singlelotcontent{

    margin-top: 10px;
  


}


.Singlelotcontent-card{
    display: flex;
    
margin-top: 100px;
margin-left: 300px;
flex-wrap: wrap;

}
.Singlelotcontent-card-img{
    width: 800px;
    height: 520px;

}
.Singlelotcontent-card-img-time{
    display: flex;
}
.scard-time{
    margin-top: 480px;
margin-left: -50px;
width: 50px;
height: 20px;
background-color: #707070;
color: #fff;
}
.Singlelotcontent-card-items{
    display: flex;
    margin-top: 20px;
}
.sviews{
    display: flex;
    margin-left: 540px;

}
.Singlelotcontent-card-title{
    font-size: 26px;
    width: max-content;

}
.views-number{
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
}
.likes-number{
padding-left: 10px;
margin-right: 10px;
}
.fa-eye{
    margin-right: 10px;
}
.comment-input{
    margin-top: 50px;
    width: 500px;
    height: 30px;
 border-top: none;
 border-left: none;
 border-right: none;
 margin-bottom: 150px;

}
.comment-btn{
    margin-top: 50px;
    margin-left: 100px;
    width: 120px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 150px;
}
@media (max-width: 480px) {
    .Featured{ 
margin-left: -30px;
    }
    .Featured-card-img{
        width: 430px;
        height: 262px;
    
    }
    .card-time{
        margin-top: 200px;
    margin-left: -50px;
    width: 50px;
    height: 20px;
    background-color: #707070;
    color: #fff;
    }
    .views{
        display: flex;
        margin-left: 240px;
    
    }

  }