*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.homepageaccount{
    display: flex;
    flex-direction: column;
}
.homepageaccount-user{
    display: flex;
    margin-left: 91%;
    margin-bottom: -125px;
    flex-direction:column;
}
.user-name{
padding-top: 100px;}
.user-logout{
font-size: 12px;
}