*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}

.userhomepage-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-creator-btn{
    margin-right: 30px;
    width:  220px;
    height: 38px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    color: #fff;
    background-color: #F5BE95;
    font-family: "Roboto", sans-serif;
}
.animation-maker-btn{
    margin-right: 30px;
    width:  220px;
    height: 38px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: #fff;
    background-color: #F5BE95;
    font-family: "Roboto", sans-serif;
}
.header-text{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 350px;
    background-color: #FAFAFA;
    margin-left: 27%;
    border-radius: 10px;
   
}
.header-box{
    margin-left: 26.65%;
    background-color: #F5BE95;
    height: 50px;
    width: 100px;
    margin-top: -355px;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}
.header-box1{
    margin-left: 69.10%;
    background-color: #F5BE95;
    height: 50px;
    width: 100px;
   margin-top: -45px;
    position: absolute;

    z-index: -1;
    border-radius: 10px; 
}
.header-txt{
 text-align: center;
 width: 500px;
 font-size: 20px;
 font-family: "Roboto", sans-serif;
 color:  black;

}
strong{
    font-size: 28px;
}